header{
    width:100%;
    height:80px;
    position:fixed;
    top:30px;
    z-index:100;
  
    .desktop_header{

        width:98%;
        height:100%;
        position:relative;
        max-width:1280px;
        margin:auto;
        background-color:$white;
        border:1px solid #E3E3E3;
        border-radius:100px;
        @include respond-to("mobile"){
            display: none;
        }
    }
    .mobile-header{
        position:fixed;
        top:10px;
        z-index: 102;
        width:calc(100% - 24px);
        margin-left:12px;
        height:50px;
        border-radius:100px;
        background-color:#F6F6F6;
        @media (min-width:480px){
            display: none;
        }
        .mobile-flex{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width:96%;
            margin:auto;
            height:50px;
            .header_logo{
                max-height:15px;
                img{
                    width:100%;
                    height:100%;
                    object-fit: contain;
                }
            }
            .mobile-burger{
                width:45px;
                height:45px;
                background-color:#EEEEEE;
                border-radius:100%;
                position:relative;
                &:before{
                    position: absolute;
                    content: "";
                    width:25px;
                    height:2px;
                    left:50%;
                    margin-right: -50%;
                    transform: translate(-50%, 0);
                    background-color:#797979;
                    top:14px;
                    transition: all 0.3s ease 0s;
                }
                &:after{
                    position: absolute;
                    content: "";
                    width:25px;
                    height:2px;
                    left:50%;
                    margin-right: -50%;
                    transform: translate(-50%, 0);
                    background-color:#797979;
                    bottom:14px;
                    transition: all 0.3s ease 0s;
                }
                & span{
                    position: absolute;
                    width:25px;
                    height:2px;
                    left:50%;
                    margin-right: -50%;
                    transform: translate(-50%, 0);
                    background-color:#797979;
                    bottom:21px;
                    transition: all 0.3s ease 0s;
                }
                &.active:before{
                    transform: translate(-50%, 0) rotate(45deg);
                    top:20px;
                }
                &.active:after{
                    transform: translate(-50%, 0) rotate(-45deg);
                    top:20px;
                    bottom:0px;
                }
                &.active span{
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }
    .mobile-menu{
        position: fixed;
        width:100vw;
        height:100vh;
        top:0;
        left:0;
        background-color: #F6F6F6;
        z-index:101;
        opacity:0;
        visibility: hidden;
        transition: all 0.3s ease 0s;
        &.active{
            opacity: 1;
            visibility: visible;
        }
        .mobile-menu-content{
            margin-top:120px;
            @include flex-center;
            flex-direction: column;
            .mobile-menu-list{
                ul{
                    @include flex-center;
                    li{
                        margin:10px 0px;
                        a{
                            color:#797979;
                            font-size:14px;
                            font-weight:400;
                            text-align: center
                        }
                    }
                }
            }
            .mobile-menu-socials{
                margin-top:50px;
                width:50px;
                height:50px;
                a{
                    width:100%;
                    height:100%;
                    border-radius:100%;
                    background-color:#EEEEEE;
                    display: block;
                    @include flex-center;
                    img{
                        width: 50%;
                        height:50%;
                        object-fit: contain;
                    }
                }
            }
            .mobile-menu-button{
                margin-top:30px;
                p{
                    background:$gradient;
                    padding:20px 60px;
                    border-radius:100px;
                    color:$white;
                    font-size:14px;
                }
            }
        }

    }
   
}

.header_flex{
    @include flex-between;
    width:95%;
    height:100%;
    margin:auto;
}

.header_logo{
    width:100%;
    height:100%;
    display: block;
    max-width: 300px;
    @media(max-width:1300px){
        max-width:220px;
    }
    a{
        @include flex-center;
        flex-direction: column;
        height:100%;
        @include respond-to("mobile"){
            align-items: flex-start;
        }
        img{
            max-width:250px;
            @media(max-width:1300px){
                max-width:220px;
            }
        }
        p{
            font-size:13px;
            color:#4A4A4A;
            font-weight: 400;
            text-align: center;
            margin-top:0;
            margin-bottom:0;
            @media (max-width:1300px){
                font-size:10px;
            }
        }
    }
}
.header_menu{
    width:100%;
    height:100%;
    @include flex-center;
    ul{
        @include flex-center;
        li{
            margin:0px 12px;
            @media(max-width:1300px){
                margin:0px 6px;
            }
            a{
                color:#797979;
                font-size:16px;
                font-weight: 400;
                @media(max-width:1300px){
                    font-size:14px;
                }
            }
            &.sub-menu{
                position:relative;
                ul{
                    transition:all 0.3s ease 0s;
                    opacity:0;
                    visibility: hidden;;
                    position:absolute;
                    background:#fff;
                    border-radius:10px;
                    border:1px solid #eeeeee;
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    flex-direction: column;
                    z-index:3;
                    top:30px;
                    left:-20px;
                    padding:10px 20px;
                    width:200px;
                    li{
                        margin:10px 0px;
                    }
                }
                &:hover{
                    ul{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
           
        }
    }
}
.header_buttons{
    @include flex-between;
    .header_tg{
        width:50px;
        height:50px;
        @include flex-center;
        position: relative;
        a{
            background-color:#EEEEEE;
            border-radius: 50%;
            width:50px;
            height:50px;
            @include flex-center;
            svg{
                width:20px;
                height:20px;
                path{
                    fill:#7E7E7E;
                }
            }
        }
    }
    .login_button{
        margin-left:11px;
        background:$gradient;
        border-radius:100px;
        width:230px;
        height:53px;
        a{
            font-size:14px;
            color:$white;
            width:100%;
            height:100%;
            font-weight:500;
            @include flex-center;
        }
        
    }
}

